.calendar {
    border: 1px solid #cccccc00;
    max-width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
    
}

.calendar-header {
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 7px;
    font-size: 24px;
    margin-top: 200px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    background-color: rgba(255,255,255,0.5);

}

.calendar-body div {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    
}

.calendar-body div:hover {
    background-color: rgba(255,255,255,0.5);
}