#calendar-container {
    text-align: center;
    margin: 200px auto;
    border: 2px solid #333;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#month-year {
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    flex-grow: 1;
    text-align: center;
}

#calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.day {
    padding: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.day:hover {
    background-color: lightgrey;
}

button {
    padding: 5px 10px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background: white;
    border-radius: 5px;
    text-align: center;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}