@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    font-family: "Poppins";
  }
.calendar {
    border: 1px solid #cccccc00;
    max-width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
    
}

.calendar-header {
    background-color: rgba(255,255,255,0.5);
    text-align: center;
    padding: 7px;
    font-size: 24px;
    margin-top: 200px;
}

.calendar-body {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    background-color: rgba(255,255,255,0.5);

}

.calendar-body div {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    
}

.calendar-body div:hover {
    background-color: rgba(255,255,255,0.5);
}