@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: #e0e0e1;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  margin-left: 220px;
  margin-top: 75px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #e0e0e1; /* Cambiado el color de fondo */
}

header,
footer {
  padding: 10px;
  background-color: #2c2c2c;
  color: #fff;
}

.complete-task-button,
input[type="submit"] {
  background-color: #ff6947;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.status-message {
  color: red;
  margin-top: 10px;
}

.divider {
  border-top: 1px solid #ccc;
  margin: 20px 0; /* Añadido espacio vertical */
}

.comment {
  background-color: #e0e0e1;
  border: 1px solid #ddd;
  border-radius: 8px;
  margin-bottom: 15px;
  padding: 15px;
}
.comments-section {
  max-height: 153px; /* Establecer una altura máxima */
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}

.comments-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}
.user-comment {
  border: 1px solid #ff6947;
}

.add-comment-section {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  max-height: 300px; /* Establecer una altura máxima */
  overflow-y: auto; /* Agregar desplazamiento vertical si es necesario */
}

.add-comment-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.comment-section-content {
  flex-grow: 1;
}
textarea {
  width: calc(100% - 20px); /* Ajustar el ancho para considerar el relleno */
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box; /* Ajustar el modelo de caja para considerar el relleno y el borde */
}