@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Libre Franklin', sans-serif;
}

body {
  margin: 0;
 
  font-size: 17px;
  color: #ff6947;
  line-height: 1.6;
  background-color: #e0e0e1;
}

#showcase {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  overflow: hidden;
}
#showcase video {
  width: 100%; /* Ajusta el ancho del video al 100% del contenedor */
  height: 100%;
  object-fit: cover; /* Cubre todo el contenedor manteniendo la relación de aspecto */
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; /* Coloca el video detrás del contenido */
}
#showcase-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1; /* Asegura que el contenido esté por encima del video */
}

#showcase h1 {
  font-size: 50px;
  line-height: 1.2;
  z-index: 1;
}

#showcase p {
  font-size: 20px;
}

#showcase .button {
  font-size: 18px;
  text-decoration: none;
  color: #ff6947;
  border: #ff6947 1px solid;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
}

#showcase .button:hover {
  background: #ff6947;
  color: #e0e0e1;
}
