/* Estilos globales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos del formulario */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.formulario {
  box-sizing: border-box;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 300px;
  width: 100%;
  height: auto;
}
.formulario,
.formulario input {
  max-width: 100%;
  box-sizing: border-box;
}

.formulario input {
  max-width: 100%;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.formulario button {
  width: 100%;
  padding: 10px;
  background-color: #ff8066;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.formulario button:hover {
  background-color: #f6937f;
}
