@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}

body {
  background-color: #e0e0e1;
  margin-top: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgb(32, 30, 31);
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 3px solid #ff6947;
}

.header .user-info {
  display: flex;
  align-items: center;
  color: #e0e0e1;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Para mostrar la imagen del usuario redonda */
  margin-right: 10px;
}

.user-info h3 {
  font-size: 18px;
  margin: 0;
}

.user-info p {
  font-size: 14px;
  margin: 0;
}

.logo img {
  width: 50px;
  height: 50px;
}

.menu {
  margin-top: 73.1px;
  background: rgb(32, 30, 31);
  color: #e0e0e1;
  width: 200px;
  padding-right: 10px;
  padding: 10px;
  padding-top: 0px;
  position: fixed;
  top: 0;
  left: 0px;
  height: 100%;
  overflow-y: auto;
  transition: left 0.3s;
  z-index: 900;
  display: flex;
  flex-direction: column;
  border-right: 3px solid #ff6947;
}

.menu ul {
  list-style: none;
  padding: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  color: #e0e0e1;
  text-decoration: none;
  font-size: 16px;
  display: block;
}

/* Estilos para el contenido principal (main) */
main {
  margin-left: 220px; /* Ancho del menú desplegable */
  padding: 20px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-box {
  border: 1px solid #ccc;
  padding: 20px;
  width: 250px;
  background-color: #eaeaeb;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.project-number {
  font-size: 16px;
}

.project-name {
  font-size: 16px;
}

.project-location {
  font-size: 12px;
}

.project-dates {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.project-date,
.project-state {
  font-size: 14px;
}

.project-info h3 {
  font-size: 18px;
  margin: 0;
}

.project-info p {
  font-size: 14px;
  margin: 5px 0;
}

.details-button {
  background-color: #ff6947;
  color: #e0e0e1;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.details-button:hover {
  background-color: #ff8a70;
}

.about-button {
  background-color: #ff6947;
  color: #e0e0e1;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
}

.about-button:hover::after {
  content: "Esta es una descripción de la aplicación";
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  display: none;
}

.about-button:hover::after {
  display: block;
}
