@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Libre Franklin', sans-serif;
}

body {
  background-color: #e0e0e1;
}

main {
  margin-left: 220px;
  margin-top: 75px;
}

.project-list-container {
  background-color: #f8f8f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}

.project-item {
  background-color: #f8f8f9;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.project-item:hover {
  transform: scale(1.05);
}

.project-list {
  list-style: none;
  padding: 0;
}

.project-list li {
  margin-bottom: 10px;
}

.project-list a {
  text-decoration: none;
  color: #445566;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.project-list a:hover {
  color: #ff6947;
  text-decoration: none;
}

.project-item-content {
  color: #1f2933; /* Color del texto ajustado */
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.project-item:hover .project-item-content {
  color: #ff6947; /* Color de hover ajustado */
}
